.footer {
  /* background: #1A1A1A; */
  color: #000000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 0.95rem;
}

.socialLinks {
  margin-top: 10px;
}

.socialLinks a {
  color: #000000;
  margin: 0 10px;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #ff4444; /* hover effect */
}
